h1{
    text-align: center;
    /* height: 200px; */
    margin:0;
    padding:0 0 20px;
    font-size:50px;
}
.parfum-cart {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 10px 40px 40px 10px;
    padding: 20px 40px;
    position:relative;
    display:inline-block;
    text-align: center;
  }

.parfum-cart img {
    width: 100%;
    max-width: 350px;
    object-fit: cover;
    border-radius: 10px;
    width: 300px;
    height:300px;
  }

  .parfum-cart::after {
    content: "";
    width: 350px;
  }

  .parfum-cart-item{
    position: relative;
    display: inline-block;
    margin: 10px;
  }

  .image-caption{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(187, 179, 179, 0.5);
    color: white;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
  }