.body{
  margin:0;
  padding:0;
}

/* Barre de Navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  padding: 10px;
}

.nav-info,
.connexion {
  display: flex;
}

.nav-info a,
.connexion a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

.connexion a:not(:last-child) {
  margin-right: 10px;
}

.connexion a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

h1{
    text-align: center;
    /* height: 200px; */
    margin:0;
    padding:0 0 20px;
    font-size:50px;
}
/* Affichage de tous les parfums*/
.parfum-cart {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 10px 40px 40px 10px;
    padding: 20px 40px;
    position:relative;
    display:inline-block;
    text-align: center;
  }

.parfum-cart img {
    width: 100%;
    max-width: 350px;
    object-fit: cover;
    border-radius: 10px;
    width: 300px;
    height:300px;
  }

  .parfum-cart::after {
    content: "";
    width: 350px;
  }

  .parfum-cart-item{
    position: relative;
    display: inline-block;
    margin: 10px;
  }

  .image-caption{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(187, 179, 179, 0.5);
    color: white;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
  }

  /* Affichage des parfums par id */
  .parfum{
    display:flex;
    justify-content:center;
    text-align: center;
    padding-top: 30px;
  }

  .image-detail-parfum {
    float: left;
    width: 50%;
    margin-bottom: 10px;
  }
  
  .info-parfum {
    width: 50%;
  }

  .image-detail-parfum, .info-parfum{
    display:inline-block;
  }

  .filter{
    display:block;
    position:sticky;
    top: 20px ;
  }

  .image-detail-parfum,
  .dupe-cart {
    display: block;
    margin-top: 20px;
  }

  .likes svg{
  width: 16px;
  height: 16px;
  }
  
  


