{% extends 'base.html.twig' %}

{% block title %}Ajouter une marque{% endblock %}

{% block body %}
<h1>Ajouter un parfum </h1>

       {{form_start(formAddMarque)}}

        <div>
            {{form_row(formAddMarque.nom)}}

            {{form_row(formAddMarque.submit)}}
        </div>

       {{form_end(formAddMarque)}}

{% endblock %}