{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<h1> Présentation du compte</h1>

<h2>Profil</h2>
<h3>Prénom: {{prenom}}</h3>
<h3>Nom: {{nom}}</h3>
<h3>Email: {{email}}</h3>
{% endblock %}
